{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Удаление картины" %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{% trans "Удаление картины" %}: {{ artwork.title }}</h1>
</div>

<p>{% trans "Вы уверены, что хотите удалить эту картину?" %}</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">{% trans "Да, удалить" %}</button>
    <a href="{% url 'main:main:admin_dashboard' %}" class="btn btn-secondary">{% trans "Отмена" %}</a>
</form>
{% endblock %}